@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.container {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #dab2b2;
    border-radius: 10px;
    overflow: hidden;
}
.question {
    padding: 0 2rem 0 2rem;
    text-align: center;
}
.answers {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: left;


}

.answers ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answers ul li {
    list-style-type: none;
    

}

label {
    margin-left: 1rem;
}

input,
label,
button {
    cursor: pointer;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-color: #F28830;
}

.answer,
.answer-message {
    font-size: 1.2rem;
}

.answer-message {
    padding: 1rem 1rem;
}

.btn {
    border: none;
    width: 100%;
    height: 15%;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn:active {
    transform: scale(0.95);
}
























